@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Coiny');
body {
	background-image: url('images/background.jpg');
}
.logo {
	font-family: 'Coiny';
	font-size: 26px;
	padding-right: '10px';
}
