@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Coiny');
body {
	background-image: url('images/background.jpg');
}
.logo {
	font-family: 'Coiny';
	font-size: 26px;
}

.home-panel-1 {
	width: 200px;
    background-color: white;
	margin-top: 10px;        
	padding-bottom: 500px;
	border-radius: 0px;
}

.list-group-item {
	border-radius: 0px !important;
}

.list-group-item:hover {
	background-color: lightslategray;
	color: white;
	border-radius: 0px !important;
}

a {
	color: inherit !important;
}

